<main>
  <!--return button-->
  <button
    (click)="return()"
    class="fixed z-20 top-1 left-1 bg-orange-300 p-1 rounded"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
  <!--nav bar-->
  <div><app-profile-nav-bar /></div>
  <!--personal infos-->
  <div>
    <form
      (ngSubmit)="update()"
      class="min-w-full shadow-xl min-h-72 p-3 border-separate border-y-2 border-orange-300"
    >
      <!--alert error-->
      <p
        *ngIf="response.error"
        class="bg-red-600 relative text-center text-white p-1 rounded"
      >
        {{ response.message }}
        <span
          (click)="response.error = false"
          class="absolute right-3 top-0 cursor-pointer text-white hover:text-orange-300"
          >x</span
        >
      </p>
      <!--alert success-->
      <p
        *ngIf="response.success"
        class="bg-green-600 relative text-center text-white p-1 rounded"
      >
        {{ response.message }}
        <span
          (click)="response.success = false"
          class="absolute right-3 top-0 cursor-pointer text-white hover:text-orange-300"
          >x</span
        >
      </p>
      <!--profile photo-->
      <div class="flex justify-center my-2">
        <img
          (click)="clickPhoto()"
          [src]="user.profilePhoto"
          alt="profile photo"
          class="w-20 h-20 cursor-pointer rounded-full"
          id="imagePreview"
        />
        <input
          accept=".png , .jpg"
          type="file"
          (change)="changeFile($event)"
          class="hidden"
          name="profilephotoInput"
          id="profilephotoInput"
        />
      </div>
      <!--name-->
      <div>
        <label for="name">Your name:</label>
        <br />
        <input
          (input)="checkNameAvailablity()"
          [(ngModel)]="user.name"
          name="name"
          required
          type="text"
          id="name"
          placeholder="Jack Baki"
          class="border-2 border-black p-1 px-2 rounded w-full"
        />
        <!--name availablity-->
        <div *ngIf="currentName != user.name">
          <!--name non available message-->
          <small *ngIf="!isAvailableName" class="text-red-500"
            >This name is already taken, pick another !</small
          >
          <!--name  available message-->

          <small *ngIf="isAvailableName" class="text-green-500"
            >Available name .</small
          >
        </div>
      </div>
      <!--theme-->
      <div>
        <label for="theme">Theme</label>
        <br />
        <select
          [(ngModel)]="user.theme"
          name="theme"
          id="theme"
          class="border-2 border-black"
        >
          <option value="white">white</option>
          <option value="black" class="bg-black text-white">black</option>
        </select>
      </div>
      <!--email-->
      <div>
        <label for="email">Your email:</label>
        <br />
        <input
          [(ngModel)]="user.email"
          name="email"
          required
          type="email"
          id="email"
          placeholder="Jack.Baki@gmail.com"
          class="border-2 border-black p-1 px-2 rounded w-full"
        />
      </div>
      <!--password-->
      <div>
        <label for="password">Your password:</label>
        <br />
        <input
          [(ngModel)]="user.password"
          name="password"
          required
          type="password"
          id="password"
          placeholder="123456"
          class="border-2 border-black p-1 px-2 rounded w-full"
        />
      </div>
      <!--confirm the password-->
      <div>
        <label for="confirmPassword">Confirm the password:</label>
        <br />
        <input
          [(ngModel)]="user.confirmPassword"
          name="confirmPassword"
          required
          type="password"
          id="confirmPassword"
          placeholder="123456"
          class="border-2 border-black p-1 px-2 rounded w-full"
        />
      </div>
      <!--submit button-->
      <div class="text-center">
        <button
          [disabled]="!isAvailableName && currentName != user.name"
          type="submit"
          class="bg-orange-300 rounded-md p-2 my-2"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</main>
