<main class="p-2">
  <!--return button-->
  <button
    (click)="return()"
    class="fixed top-1 z-20 left-1 bg-orange-300 p-1 rounded"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
  <!--task image-->
  <div><img [src]="task.photo" alt="" class="w-full h-52" /></div>
  <!--task header-->
  <div class="flex justify-center border-2 border-gray-300 mt-2">
    <!--project relative-->
    <div class="w-1/6 p-2 pt-3">
      <button (click)="goToProject()" class="hover:underline">project</button>
    </div>
    <!--task name-->
    <h1 class="text-4xl p-1 font-bold w-3/4 text-center truncate">
      {{ task.name }}
    </h1>
    <!--task order-->
    <div class="w-1/6 pt-3 flex">
      {{ task.order }}
      <!--fire icon-->
      <svg
        *ngIf="isUrgentTask()"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 text-red-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z"
        />
      </svg>
      <!--water icon-->
      <svg
        *ngIf="!isUrgentTask()"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-droplet-half w-6 h-6 text-blue-500"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"
        />
        <path
          fill-rule="evenodd"
          d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z"
        />
      </svg>
    </div>
  </div>
  <!--description-->
  <div class="p-1 font-light">
    <p id="descriptionParagraphe" class="p-1 font-light">
      {{ task.description }}
    </p>
    <!---
      <button
        *ngIf="seeMoreDescriptionBool()"
        (click)="seeMoreDescription()"
        class="text-blue-400"
      >
        ...see more
      </button>
      <button
        *ngIf="seeLessDescriptionBool()"
        (click)="seeLessDescription()"
        class="text-blue-400"
      >
        ...see less
      </button>-->
  </div>
  <hr />
  <!--Dead line-->
  <div class="my-3">Dead line: {{ getDeadLine() }}</div>

  <!--participants-->
  <h1>Participants:</h1>
  <div class="flex flex-wrap space-x-1 my-1">
    <div
      *ngFor="let participant of task.participants"
      class="w-max p-2 bg-gray-300 rounded"
    >
      <div class="flex flex-col">
        <div class="flex justify-center">
          <img
            [src]="participant.profilePhoto"
            alt="ownerphoto"
            crossorigin="anonymous"
            class="w-20 h-20 rounded-full"
          />
        </div>
        <div class="text-center underline">{{ participant.name }}</div>
      </div>
    </div>
  </div>
  <!--delete the team button-->
  <button
    (click)="deleteConfirm = !deleteConfirm"
    class="bg-red-600 hover:bg-red-500 p-3 w-full text-white"
  >
    Delete the task
  </button>
  <!--upfate the team button-->
  <button
    type="button"
    (click)="updateFrom()"
    class="mt-1 bg-green-600 hover:bg-green-500 p-3 w-full text-white"
  >
    Update the task
  </button>
  <!--add task form-->
  <div
    *ngIf="updateFromBool"
    class="flex fixed w-full h-full left-0 top-0 justify-center items-center bg-gray-500 bg-opacity-90"
  >
    <form
      (ngSubmit)="updateTask()"
      class="p-7 rounded w-3/4 flex flex-col justify-center border-y-2 border-green-300"
    >
      <!--task alert-->
      <p
        *ngIf="taskResponse.error"
        class="relative bg-red-500 p-1 pr-3 rounded text-center"
      >
        {{ taskResponse.message }}
        <span
          (click)="taskResponse.error = false"
          class="text-white absolute right-0 top-1 cursor-pointer mx-2"
          >x</span
        >
      </p>
      <!--task photo-->
      <div class="flex justify-center">
        <img
          (click)="clickTaskPhoto()"
          [src]="task.photo"
          alt=""
          id="taskPhotoPreview"
          class="w-24 h-24 cursor-pointer rounded-full border-2 border-gray-500"
        />
        <input
          (change)="TaskPhotoChange($event)"
          type="file"
          accept=".png , .jpg"
          id="taskPhotoInput"
          class="hidden"
        />
      </div>
      <!--task name-->
      <div>
        <label for="taskName">Task name*:</label>
        <br />
        <input
          placeholder="Login Page"
          class="border-2 border-black rounded p-1 w-full"
          type="text"
          name="taskName"
          [(ngModel)]="task.name"
          required
        />
      </div>
      <!--task descritpion-->
      <div>
        <label for="taskDescription">Task description:</label>
        <br />
        <textarea
          placeholder="The login page must contain email and password fields..."
          [(ngModel)]="task.description"
          class="border-2 border-black px-2 rounded w-full"
          name="description"
        ></textarea>
      </div>
      <!--task deadLine date-->
      <div>
        <label for="deadLineTask">Task dead line:</label><br />
        <input
          [min]="task.deadLine"
          [max]="project.deadLine"
          type="datetime-local"
          class="rounded border-2 border-black p-1 w-full"
        />
      </div>
      <!--task deadLine date-->
      <div>
        <label for="deadLineTask">Task importance order:</label><br />
        <input
          [(ngModel)]="task.order"
          type="number"
          name="taskOrder"
          placeholder="0 is the more important"
          class="rounded border-2 border-black p-1 w-full"
        />
      </div>
      <!--selected task participants-->
      <div>
        <label for="taskParticipants">Task participants:</label> <br />
        <div class="flex flex-wrap space-x-2 m-1">
          <div
            *ngFor="let participant of this.project.participants"
            class="cursor-pointer min-w-10 flex bg-gray-400 p-1 rounded-md space-x-1"
            [class]="{
              'bg-green-300': isInculdedInTaskParticipants(participant)
            }"
          >
            <div
              class="flex space-x-1"
              (click)="addParticipantToTask(participant)"
            >
              <img
                class="w-7 h-7 rounded-full border-2 border-gray-500"
                [src]="participant.profilePhoto"
                alt=""
              />
              <small class="pt-1 truncate">{{ participant.name }}</small>
            </div>
            <!--unselect button-->
            <button
              *ngIf="isInculdedInTaskParticipants(participant)"
              (click)="popTaskParticipant(participant)"
              class="text-white cursor-pointer m-1 px-1 h-max w-max rounded bg-red-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-3 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
                />
              </svg>
            </button>
            <!--select button-->
            <button
              *ngIf="!isInculdedInTaskParticipants(participant)"
              (click)="addParticipantToTask(participant)"
              class="text-white cursor-pointer m-1 px-1 h-max w-max rounded bg-green-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-3 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m4.5 12.75 6 6 9-13.5"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!--task submit-->
      <button
        class="bg-green-300 hover:bg-green-500 p-1 min-w-10 h-10 rounded-full my-1"
      >
        Update task
      </button>
      <!--cancel add task-->
      <button
        (click)="updateFrom()"
        class="bg-red-300 hover:bg-red-500 p-1 min-w-10 h-10 rounded-full my-1"
      >
        Cancel task
      </button>
    </form>
  </div>
  <!--delete task button-->
  <div
    *ngIf="deleteConfirm"
    class="fixed top-1/2 left-1/4 w-1/2 h-max p-3 bg-white rounded"
  >
    <h1 class="text-center my-2">Are you sure ?</h1>
    <div class="flex space-x-2">
      <button
        (click)="deleteTask()"
        class="w-1/2 text-center bg-orange-600 hover:bg-orange-500"
      >
        yes
      </button>
      <button
        (click)="deleteConfirm = !deleteConfirm"
        class="w-1/2 text-center bg-blue-600 hover:bg-blue-500"
      >
        no
      </button>
    </div>
  </div>
</main>
