<main class="p-2">
  <!--return button-->
  <button
    (click)="return()"
    class="fixed top-1 z-20 left-1 bg-orange-300 p-1 rounded"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
      />
    </svg>
  </button>
  <!--project image-->
  <div><img [src]="project.photo" alt="" class="w-full h-52" /></div>
  <!--project name-->
  <div>
    <h1
      class="text-4xl border-2 border-gray-300 p-1 font-bold w-full text-center"
    >
      {{ project.name }}
    </h1>
  </div>
  <!--description-->
  <div class="p-1 font-light">
    <p id="descriptionParagraphe" class="p-1 font-light">
      {{ project.description }}
    </p>
    <!---
    <button
      *ngIf="seeMoreDescriptionBool()"
      (click)="seeMoreDescription()"
      class="text-blue-400"
    >
      ...see more
    </button>
    <button
      *ngIf="seeLessDescriptionBool()"
      (click)="seeLessDescription()"
      class="text-blue-400"
    >
      ...see less
    </button>-->
  </div>
  <hr />
  <!--Dead line-->
  <div class="my-3">Dead line: {{ getDeadLine() }}</div>
  <!--owner and participants-->
  <div class="bg-orange-200 p-3 rounded">
    <!--label-->
    <h1 class="mb-3">Owner and participants:</h1>
    <!--owner-->
    <div class="flex justify-center">
      <div class="w-max p-2 bg-black rounded">
        <div class="flex flex-col">
          <div class="flex justify-center">
            <img
              [src]="project.owner?.profilePhoto"
              alt="ownerphoto"
              crossorigin="anonymous"
              class="w-20 h-20 rounded-full"
            />
          </div>
          <div class="text-center underline text-white">
            {{ project.owner?.name }}
          </div>
        </div>
      </div>
    </div>
    <!--participants-->
    <div class="flex flex-wrap space-x-1 my-1">
      <div
        *ngFor="let participant of project.participants"
        class="w-max p-2 bg-gray-300 rounded"
      >
        <div class="flex flex-col">
          <div class="flex justify-center">
            <img
              [src]="participant.profilePhoto"
              alt="ownerphoto"
              crossorigin="anonymous"
              class="w-20 h-20 rounded-full"
            />
          </div>
          <div class="text-center underline">{{ participant.name }}</div>
        </div>
      </div>
    </div>
  </div>
  <!--tasks-->
  <div class="bg-green-200 p-3 my-2">
    <div class="flex justify-between">
      <span class="mb-3 pt-1"
        >Tasks:
        <button
          (click)="displayAddTaskForm()"
          class="bg-orange-300 p-2 rounded-md w-10"
        >
          +
        </button></span
      >
      <!--add task form-->
      <div
        id="addTaskForm"
        class="hidden fixed w-full h-full left-0 top-0 justify-center items-center bg-gray-500 bg-opacity-90"
      >
        <form
          (ngSubmit)="addTask()"
          class="p-7 rounded w-3/4 flex flex-col justify-center border-y-2 border-green-300"
        >
          <!--task alert-->
          <p
            *ngIf="taskResponse.error"
            class="relative bg-red-500 p-1 pr-3 rounded text-center"
          >
            {{ taskResponse.message }}
            <span
              (click)="taskResponse.error = false"
              class="text-white absolute right-0 top-1 cursor-pointer mx-2"
              >x</span
            >
          </p>
          <!--task photo-->
          <div class="flex justify-center">
            <img
              (click)="clickTaskPhoto()"
              [src]="task.photo"
              alt=""
              id="taskPhotoPreview"
              class="w-24 h-24 cursor-pointer rounded-full border-2 border-gray-500"
            />
            <input
              (change)="TaskPhotoChange($event)"
              type="file"
              accept=".png , .jpg"
              id="taskPhotoInput"
              class="hidden"
            />
          </div>
          <!--task name-->
          <div>
            <label for="taskName">Task name*:</label>
            <br />
            <input
              placeholder="Login Page"
              class="border-2 border-black rounded p-1 w-full"
              type="text"
              name="taskName"
              [(ngModel)]="task.name"
              required
            />
          </div>
          <!--task descritpion-->
          <div>
            <label for="taskDescription">Task description:</label>
            <br />
            <textarea
              placeholder="The login page must contain email and password fields..."
              [(ngModel)]="task.description"
              class="border-2 border-black px-2 rounded w-full"
              name="description"
            ></textarea>
          </div>
          <!--task deadLine date-->
          <div>
            <label for="deadLineTask">Task dead line:</label><br />
            <input
              [min]="task.deadLine"
              [max]="project.deadLine"
              type="datetime-local"
              class="rounded border-2 border-black p-1 w-full"
            />
          </div>
          <!--task deadLine date-->
          <div>
            <label for="deadLineTask">Task importance order:</label><br />
            <input
              [(ngModel)]="task.order"
              type="number"
              name="taskOrder"
              placeholder="0 is the more important"
              class="rounded border-2 border-black p-1 w-full"
            />
          </div>
          <!--selected task participants-->
          <div>
            <label for="taskParticipants">Task participants:</label> <br />
            <div class="flex flex-wrap space-x-2 m-1">
              <div
                *ngFor="let participant of this.project.participants"
                class="cursor-pointer min-w-10 flex bg-gray-400 p-1 rounded-md space-x-1"
                [class]="{
                  'bg-green-300': isInculdedInTaskParticipants(participant)
                }"
              >
                <div
                  class="flex space-x-1"
                  (click)="addParticipantToTask(participant)"
                >
                  <img
                    class="w-7 h-7 rounded-full border-2 border-gray-500"
                    [src]="participant.profilePhoto"
                    alt=""
                  />
                  <small class="pt-1 truncate">{{ participant.name }}</small>
                </div>
                <!--unselect button-->
                <button
                  *ngIf="isInculdedInTaskParticipants(participant)"
                  (click)="popTaskParticipant(participant)"
                  class="text-white cursor-pointer m-1 px-1 h-max w-max rounded bg-red-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-3 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18 18 6M6 6l12 12"
                    />
                  </svg>
                </button>
                <!--select button-->
                <button
                  *ngIf="!isInculdedInTaskParticipants(participant)"
                  (click)="addParticipantToTask(participant)"
                  class="text-white cursor-pointer m-1 px-1 h-max w-max rounded bg-green-600"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-3 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m4.5 12.75 6 6 9-13.5"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <!--task submit-->
          <button
            class="bg-green-300 hover:bg-green-500 p-1 min-w-10 h-10 rounded-full my-1"
          >
            Add task
          </button>
          <!--cancel add task-->
          <button
            (click)="displayAddTaskForm()"
            class="bg-red-300 hover:bg-red-500 p-1 min-w-10 h-10 rounded-full my-1"
          >
            Cancel task
          </button>
        </form>
      </div>

      <button (click)="onlyMyTasks = !onlyMyTasks" class="rounded p-1">
        <span
          *ngIf="!onlyMyTasks"
          class="underline hover:border-white border-2 p-2 rounded"
          >Only mine</span
        >
        <span
          *ngIf="onlyMyTasks"
          class="underline hover:border-white border-2 p-2 rounded"
          >All tasks</span
        >
      </button>
    </div>

    <div class="flex flex-wrap">
      <app-task *ngFor="let task of getTasks()" [task]="task"></app-task>
    </div>
  </div>
  <!--delete the team button-->
  <button
    (click)="deleteConfirm = !deleteConfirm"
    class="bg-red-600 hover:bg-red-500 p-3 w-full text-white"
  >
    Delete the project
  </button>
  <button
    (click)="goToUpdateProject()"
    class="mt-1 bg-green-600 hover:bg-green-500 p-3 w-full text-white"
  >
    Update the project
  </button>
  <!--delete confirm panel-->
  <div
    *ngIf="deleteConfirm"
    class="fixed top-1/2 left-1/4 w-1/2 h-max p-3 bg-white rounded"
  >
    <h1 class="text-center my-2">Are you sure ?</h1>
    <div class="flex space-x-2">
      <button
        (click)="deleteProject()"
        class="w-1/2 text-center bg-orange-600 hover:bg-orange-500"
      >
        yes
      </button>
      <button
        (click)="deleteConfirm = !deleteConfirm"
        class="w-1/2 text-center bg-blue-600 hover:bg-blue-500"
      >
        no
      </button>
    </div>
  </div>
</main>
